<header id="header">
    <div class="hdTop">
        <div class="inner">
            <h1 class="logo">
                <a href="#">
                    <img src="/distHyundai/assets/images/common/logo_head_on.png" class="logoCommon" alt="HYUNDAI ENGINE & MACHINERY">
                    <img src="/distHyundai/assets/images/common/logo_head_main.png" class="logoMain" alt="HYUNDAI ENGINE & MACHINERY">
                </a>
            </h1>
            <ul class="hdUtil">
                <li><a href="#">About us</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </div>
    </div>
    <div class="hdBottom">
        <div class="inner">
            <nav id="gnb">
                <ul class="depth1">
                    <li>
                        <a href="#" class="on">Marine Solution</a> <!-- 클래스 on 추가하면 활성화 -->
                        <div class="depth2">
                            <div class="inner">
                                <strong>Marine Solution</strong>
                                <ul>
                                    <li><a href="#" class="on">Crude Oil Tanker</a></li> <!-- 클래스 on 추가하면 활성화 -->
                                    <li><a href="#">Product &amp; Chemical Tanker</a></li>
                                    <li><a href="#">Container</a></li>
                                    <li><a href="#">LNG Carrier &amp; Bunkering</a></li>
                                    <li><a href="#">LPG Carrier</a></li>
                                    <li><a href="#">Bulk Carrier</a></li>
                                    <li><a href="#">Ro-Ro</a></li>
                                    <li><a href="#">Passenger</a></li>
                                    <li><a href="#">TUG</a></li>
                                    <li><a href="#">Offshore</a></li>
                                    <li><a href="#">Fishing</a></li>
                                    <li><a href="#">Naval &amp; Special Purpose</a></li>
                                </ul>
                                <a href="#" class="btnEngine">Engine Selector</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Energy Solution</a>
                        <div class="depth2">
                            <div class="inner">
                                <strong>Energy Solution</strong>
                                <ul class="energyMenu">
                                    <li>
                                        <a href="#">Engine Power Plant</a>
                                        <ul class="depth3">
                                            <li><a href="#">Gas & Dual Fual Power Plant</a></li>
                                            <li><a href="#">Diesel Power plant</a></li>
                                            <li><a href="#">Modular Power Plant & PPS</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">CHP</a></li>
                                    <li>
                                        <a href="#">Emergency Diesel Generator</a>
                                        <ul class="depth3">
                                            <li><a href="#">EDG for Nuclear power plant</a></li>
                                            <li><a href="#">Emergency &amp;<br>Black Start Diesel Generator</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Hybrid Power Plant</a></li>
                                </ul>
                                <a href="#" class="btnFactory">Power Plant Selector</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Products</a>
                        <div class="depth2">
                            <div class="inner">
                                <strong>Products</strong>
                                <ul>
                                    <li>
                                        <a href="#">2 Stroke Engine</a>
                                        <ul class="depth3">
                                            <li><a href="#">MAN-ES</a></li>
                                            <li><a href="#">WinGD</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">4 Stroke Engine</a>
                                        <ul class="depth3">
                                            <li><a href="#">Dual Fuel Engine</a></li>
                                            <li><a href="#">Diesel Engine</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Propulsion System</a>
                                        <ul class="depth3">
                                            <li><a href="#">Propulsion Package</a></li>
                                            <li><a href="#">Hybrid Package</a></li>
                                            <li><a href="#">Propeller &amp;Shaft</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Eco Machinery</a>
                                        <ul class="depth3">
                                            <li><a href="#">Fuel Gas Supply System</a></li>
                                            <li><a href="#">SCR</a></li>
                                            <li><a href="#">BWTS</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Cargo Pumping System</a>
                                        <ul class="depth3">
                                            <li><a href="#">Hydraulic Submerged Pump</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Stationary Engine</a>
                                        <ul class="depth3">
                                            <li><a href="#">GAS</a></li>
                                            <li><a href="#">Dual Fuel</a></li>
                                            <li><a href="#">Liquid Fuel</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Customer Service</a>
                        <div class="depth2">
                            <div class="inner">
                                <strong>Customer Service</strong>
                                <ul class="customerMenu">
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Contacts</a></li>
                                    <li><a href="#">Download</a></li>
                                    <li><a href="#">Training</a></li>
                                    <li><a href="#">Service Network</a></li>
                                    <li><a href="#">Online Assistance</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="langBox">
                <button class="btnLang">EN</button>
                <ul>
                    <li><a href="#" class="korean">KO</a></li>
                    <li><a href="#" class="english active">EN</a></li><!-- 활성화된 항목은 클래스 active 추가 -->
                </ul>
            </div>
            <div class="hdSearch">
                <button class="btnSearch">검색</button>
                <div class="searchArea">
                    <div class="searchBox">
                        <label class="hidden">검색입력폼</label>
                        <input type="text" id="searchForm" placeholder="Search">
                        <!-- <button class="btnTxtDelete">검색 입력내용 삭제</button> -->
                        <button class="btnSearch">검색</button>
                    </div>
                    <button class="btnClose">닫기</button>
                </div>    
            </div>
            <button class="btnGnb">모바일 메뉴 열기</button>
        </div>
    </div>
    <!-- Mobile Menu -->
    <nav class="moMenu">
        <a href="javascript:;" class="moClose">모바일 메뉴 닫기</a>
        <ul id="moGnb">
            <li>
                <button>Marine Solution</button>
                <ul class="dep2">
                    <li><a href="#">Crude Oil Tanker</a></li>
                    <li><a href="#">Product &amp; Chemical Tanker</a></li>
                    <li><a href="#">Container</a></li>
                    <li><a href="#">LNG Carrier &amp; Bunkering</a></li>
                    <li><a href="#">LPG Carrier</a></li>
                    <li><a href="#">Bulk Carrier</a></li>
                    <li><a href="#">Ro-Ro</a></li>
                    <li><a href="#">Passenger</a></li>
                    <li><a href="#">TUG</a></li>
                    <li><a href="#">Offshore</a></li>
                    <li><a href="#">Fishing</a></li>
                    <li><a href="#">Naval &amp; Special Purpose</a></li>
                    <li class="other"><a href="#">Engine Selector</a></li>
                </ul>
            </li>
            <li>
                <button>Energy Solution</button>
                <ul class="dep2">
                    <li>
                        <a href="#">Engine Power Plant</a>
                        <ul class="dep3">
                            <li><a href="#">Gas & Dual Fual Power Plant</a></li>
                            <li><a href="#">Diesel Power plant</a></li>
                            <li><a href="#">Modular Power Plant & PPS</a></li>
                        </ul>
                    </li>
                    <li><a href="#">CHP</a></li>
                    <li><a href="#">Hybrid Power Plant</a></li>
                    <li>
                        <a href="#">Emergency Diesel Generator</a>
                        <ul class="dep3">
                            <li><a href="#">EDG for Nuclear power plant</a></li>
                            <li><a href="#">Emergency &amp; Black Start Diesel Generator</a></li>
                        </ul>
                    </li>
                    <li class="other"><a href="#">Power Plant Selector</a></li>
                </ul>
            </li>
            <li>
                <button>Products</button>
                <ul class="dep2">
                    <li>
                        <a href="#">2 Stroke Engine</a>
                        <ul class="dep3">
                            <li><a href="#">MAN-ES</a></li>
                            <li><a href="#">WinGD</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">4 Stroke Engine</a>
                        <ul class="dep3">
                            <li><a href="#">Dual Fuel Engine</a></li>
                            <li><a href="#">Diesel Engine</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Propulsion System</a>
                        <ul class="dep3">
                            <li><a href="#">Propulsion Package</a></li>
                            <li><a href="#">Hybrid Package</a></li>
                            <li><a href="#">Propeller &amp;Shaft</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Eco Machinery</a>
                        <ul class="dep3">
                            <li><a href="#">Fuel Gas Supply System</a></li>
                            <li><a href="#">SCR</a></li>
                            <li><a href="#">BWTS</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Cargo Pumping System</a>
                        <ul class="dep3">
                            <li><a href="#">Hydraulic Submerged Pump</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Stationary Engine</a>
                        <ul class="dep3">
                            <li><a href="#">GAS</a></li>
                            <li><a href="#">Dual Fuel</a></li>
                            <li><a href="#">Liquid Fuel</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <button>Customer Service</button>
                <ul class="dep2">
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Download</a></li>
                    <li><a href="#">Training</a></li>
                    <li><a href="#">Service Network</a></li>
                    <li><a href="#">Online Assistance</a></li>
                </ul>
            </li>
            <li>
                <button>About Us</button>
                <ul class="dep2">
                    <li><a href="#">Vision &amp; Mission</a></li>
                    <li><a href="#">COO Greeting</a></li>
                    <li><a href="#">History</a></li>
                    <li><a href="#">Factory info</a></li>
                    <li><a href="#">SEMCO licensing</a></li>
                    <li><a href="#">HiMSEN Engine Story</a></li>
                    <li>
                        <a href="#">Expertise</a>
                        <ul class="dep3">
                            <li><a href="#">Decarbonization</a></li>
                            <li><a href="#">Digitalization</a></li>
                            <li><a href="#">Efficiency</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <button>Media</button>
                <ul class="dep2">
                    <li><a href="#">News</a></li>
                    <li><a href="#">Videos</a></li>
                    <li><a href="#">Webinar</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    @@if (lnb === true) {
        <div class="lnb">
            <div class="inner">
            @@if (menu === 'marine') {
                <ul>
                    <li><a href="#" class="on">Crude Oil Tanker</a></li> <!-- 클래스 on 추가하면 활성화 -->
                    <li><a href="#">Product &amp; Chemical Tanker</a></li>
                    <li><a href="#">Container</a></li>
                    <li><a href="#">LNG Carrier &amp; Bunkering</a></li>
                    <li><a href="#">LPG Carrier</a></li>
                    <li><a href="#">Bulk Carrier</a></li>
                    <li><a href="#">Ro-Ro</a></li>
                    <li><a href="#">Passenger</a></li>
                    <li><a href="#">TUG</a></li>
                    <li><a href="#">Offshore</a></li>
                    <li><a href="#">Fishing</a></li>
                    <li><a href="#">Naval &amp; Special Purpose</a></li>
                </ul>
                <select title="Marine Solution 하위 메뉴">
                    <option value="">Crude Oil Tanker</option>
                    <option>Product &amp; Chemical Tanker</option>
                    <option>Container</option>
                    <option>LNG Carrier &amp; Bunkering</option>
                    <option>LPG Carrier</option>
                    <option>Bulk Carrier</option>
                    <option>Ro-Ro</option>
                    <option>Passenger</option>
                    <option>TUG</option>
                    <option>Offshore</option>
                    <option>Fishing</option>
                    <option>Naval &amp; Special Purpose</option>
                </select>
            }
            @@if (menu === 'energy') {
                <ul>
                    <li><a href="#">Overview</a></li> <!-- 클래스 on 추가하면 활성화 -->
                    <li><a href="#">Engine Power Plant</a></li>
                    <li><a href="#">CHP</a></li>
                    <li><a href="#">Hybrid Power Plant</a></li>
                    <li><a href="#">Emergency Diesel Generator</a></li>
                </ul>
                <select title="Energy Solution 하위 메뉴">
                    <option value="">Overview</option>
                    <option>Engine Power Plant</option>
                    <option>CHP</option>
                    <option>Hybrid Power Plant</option>
                    <option>Emergency Diesel Generator</option>
                </select>
            }
            @@if (menu === 'products') {
                <ul>
                    <li><a href="#">Overview</a></li> <!-- 클래스 on 추가하면 활성화 -->
                    <li><a href="#">Marine - 2-Stroke Engine</a></li>
                    <li><a href="#">Marine - 4-Stroke Engine</a></li>
                    <li><a href="#">Marine - Propulsion System</a></li>
                    <li><a href="#">Marine - Eco Machinery</a></li>
                    <li><a href="#">Marine - Cargo Pumping System</a></li>
                    <li><a href="#">Energy - stationary Engine</a></li>
                </ul>
                <select title="Products 하위 메뉴">
                    <option value="">Overview</option>
                    <option>Marine - 2-Stroke Engine</option>
                    <option>Marine - 4-Stroke Engine</option>
                    <option>Marine - Propulsion System</option>
                    <option>Marine - Eco Machinery</option>
                    <option>Marine - Cargo Pumping System</option>
                    <option>Marine - stationary Engine</option>
                </select>
            }
            @@if (menu === 'customer') {
                <ul>
                    <li><a href="#">Support</a></li> <!-- 클래스 on 추가하면 활성화 -->
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Download</a></li>
                    <li><a href="#">Training</a></li>
                    <li><a href="#">World Network</a></li>
                    <li><a href="#">Online Assistance</a></li>
                </ul>
                <select title="Customer Service 하위 메뉴">
                    <option value="">Support</option>
                    <option value="">Contacts</option>
                    <option value="">Download</option>
                    <option value="">Training</option>
                    <option value="">World Network</option>
                    <option value="">Online Assistance</option>
                </select>
            }
            </div>
        </div>
    }
</header>

