<!DOCTYPE html>
<html lang="ko">
    <head>
        		<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- 2020.01.30 메타태그 밑 파비콘 추가 -->
	<meta name="description" content="현대중공업 엔진기계사업부">
	<meta name="keywords" content="현대중공업 엔진기계사업부">
	<meta name="naver-site-verification" content="" />
	<meta property="og:type" content="website">
	<meta property="og:title" content="현대중공업 엔진기계사업부">
	<meta property="og:description" content="현대중공업 엔진기계사업부">
	<meta property="og:url" content="">
	<title>현대중공업 엔진기계사업부</title>
	<link href="/distHyundai/assets/css/common.min.css" rel="stylesheet">

        <style>
            h2.guideTit {
                margin: 15px 0;
                font-size: 24px;
                color: #222;
                font-weight: normal;
            }
            .guide_box {
                position: relative;
                margin-bottom: 30px;
                padding-bottom: 30px;
                border-bottom: 1px solid #ddd;
            }
            #container {
                margin: 0 auto;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <div id="wrap">
            <div id="navSkip"><a href="#container">본문으로 바로가기</a></div>

            <!-- container -->
            <div id="container">
                <div class="inner">
                    <!-- 폰트 -->
                    <h2 class="guideTit">Font</h2>
                    <div class="guide_box">
                        <p style="font-size: 14px">Open Sans Regular / 14px / font-weight:400</p>
                        <p>Open Sans Regular / 16px / font-weight:400</p>
                        <p style="font-size: 18px">Open Sans Regular / 18px / font-weight:400</p>
                        <p style="font-size: 20px">Open Sans Regular / 20px / font-weight:400</p>
                        <p style="font-size: 24px">Open Sans Regular / 24px / font-weight:400</p>
                        <p style="font-size: 14px; font-weight: 600">Open Sans SemiBold / 14px / font-weight:600</p>
                        <p style="font-weight: 600">Open Sans SemiBold / 16px / font-weight:600</p>
                        <p style="font-size: 18px; font-weight: 600">Open Sans SemiBold / 18px / font-weight:600</p>
                        <p style="font-size: 20px; font-weight: 600">Open Sans SemiBold / 20px / font-weight:600</p>
                        <p style="font-size: 24px; font-weight: 600">Open Sans SemiBold / 24px / font-weight:600</p>
                        <p style="font-size: 14px; font-weight: 700">Open Sans Bold / 14px / font-weight:700</p>
                        <p style="font-weight: 700">Open Sans Bold / 16px / font-weight:700</p>
                        <p style="font-size: 18px; font-weight: 700">Open Sans Bold / 18px / font-weight:700</p>
                        <p style="font-size: 20px; font-weight: 700">Open Sans Bold / 20px / font-weight:700</p>
                        <p style="font-size: 24px; font-weight: 700">Open Sans Bold / 24px / font-weight:700</p>
                    </div>

                    <!-- Title -->
                    <h2 class="guideTit">Title</h2>
                    <div class="guide_box">
                        <div class="titForm">
                            <h1 class="mainTit">Heading 01</h1>
                            <h2 class="subTit">Heading 02</h2>
                            <h3 class="contTit">Heading 03</h3>
                            <h4 class="subBannerTit">Heading 04</h4>
                            <h5 class="categoryTit">Heading 05</h5>
                            <h6 class="aboutSubTit">Heading 06</h6>
                            <h6 class="pageFont">Heading 07</h6>
                            <h7 class="sortingFont">Heading 08</h7>
                        </div>
                    </div>

                    <!-- 버튼 -->
                    <h2 class="guideTit">Button</h2>
                    <div class="guide_box">
                        <div class="btnBox">
                            <a href="javascript:;" class="btn">LIST</a>
                            <a href="javascript:;" class="btn">OK</a>
                        </div>
                        <br />
                        <div class="btnBox">
                            <a href="javascript:;" role="button" class="btn isArrow">
                                <span>BUTTON TITLE</span>
                            </a>
                            <a href="javascript:;" role="button" class="btn isArrow btnNavy">
                                <span>BUTTON TITLE</span>
                            </a>
                            <a href="javascript:;" role="button" class="btn isArrow btnSky">
                                <span>BUTTON TITLE</span>
                            </a>
                            <a href="javascript:;" role="button" class="btn isArrow btnGreen">
                                <span>BUTTON TITLE</span>
                            </a>
                            <a href="javascript:;" role="button" class="btn isArrow btnYellow">
                                <span>BUTTON TITLE</span>
                            </a>
                        </div>
                        <br />
                        <div class="btnBox">
                            <a href="javascript:;" class="btn large btnSky">Button Title</a>
                            <a href="javascript:;" class="btn large disabled">Button Title</a>
                        </div>
                        <br />
                        <div class="btnBox">
                            <button class="btnPrint">Print</button>
                            <button class="btnDownload">Download</button>
                            <button class="btnCopyLink">Link</button>
                            <a href="javscript:;" class="btnFacebook">faceBook</a>
                            <a href="javscript:;" class="btnTwitter">twitter</a>
                            <a href="javscript:;" class="btnKakao">kakaotalk</a>
                            <a href="javscript:;" class="btnLinkedIn">linked in</a>
                            <a href="javscript:;" class="btnYoutube">youtube</a>
                        </div>
                    </div>

                    <!-- 폼 -->
                    <h2 class="guideTit">Form</h2>
                    <div class="guide_box">
                        <div class="checkSet">
                            <input type="checkbox" id="check01" name="checks" />
                            <label for="check01"><span></span>Check Button Title</label>
                        </div>
                        <div class="checkSet">
                            <input type="checkbox" id="check02" name="checks" checked />
                            <label for="check02"><span></span>Check Button Title</label>
                        </div>
                        <br /><br />
                        <div class="inputBox">
                            <label for="title01">Title</label>
                            <input type="text" id="title01" placeholder="Contents" />
                        </div>
                        <br /><br />
                        <input type="text" placeholder="Contents" value="Contents(Fill)" title="Contents" />
                        <br /><br />
                        <select class="dropMenuBox">
                            <option value="ALL">ALL</option>
                            <option value="no1">no1</option>
                            <option value="no2">no2</option>
                            <option value="no3">no3</option>
                            <option value="no4">no4</option>
                            <option value="no5">no5</option>
                        </select>
                        <br /><br />
                        <div class="searchBox">
                            <label class="hidden">검색입력폼</label>
                            <input type="text" id="searchForm" placeholder="Search" />
                            <button class="btnTxtDelete">검색 입력내용 삭제</button>
                            <button class="btnSearch">검색</button>
                        </div>
                        <br /><br />

                        <div class="radioBtnSet">
                            <div>
                                <input type="radio" id="radio01" name="radioBtnSet" checked />
                                <label for="radio01">
                                    <span>Aux. Engine</span>
                                </label>
                            </div>
                            <div>
                                <input type="radio" id="radio02" name="radioBtnSet" />
                                <label for="radio02">
                                    <span>Electric Propulsion</span>
                                </label>
                            </div>
                            <div>
                                <input type="radio" id="radio03" name="radioBtnSet" />
                                <label for="radio03">
                                    <span>Direct Propulsion</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- 테이블 -->
                    <h2 class="guideTit">Table</h2>
                    <div class="guide_box">
                        <div class="tableWrap">
                            <table>
                                <colgroup>
                                    <col width="239px" />
                                    <col width="auto" span="9" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">Ship Group</th>
                                        <th scope="col">Ship Type</th>
                                        <th scope="col">2-Stroke</th>
                                        <th scope="col">4-Stroke</th>
                                        <th scope="col">Ballast</th>
                                        <th scope="col">FGSS</th>
                                        <th scope="col">SCR</th>
                                        <th scope="col">EGR</th>
                                        <th scope="col">Propeller</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" rowspan="5">Crude Oil Tanker</th>
                                        <td>COT</td>
                                        <td>723</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>OIL</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>SHUTTLE</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>TANKER</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>VLCC</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th scope="row">Total</th>
                                        <td></td>
                                        <td>1,190</td>
                                        <td>2,009</td>
                                        <td>141</td>
                                        <td>13</td>
                                        <td>550</td>
                                        <td>27</td>
                                        <td>1,190</td>
                                        <td>5,120</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <!-- NEWS &amp; VIDEO LAYOUT COL4 -->
                    <h2 class="guideTit">NEWS &amp; VIDEO LAYOUT COL4</h2>
                    <div class="guide_box">
                        <div class="newsVideoLayout">
                            <a href="#">
                                <div class="thumbnail"></div>
                                <div class="txtCnts">
                                    <span class="utilBox">
                                        <span class="category text-energy">ENERGY</span>
                                        <span class="date">06.21.2021</span>
                                    </span>
                                    <p class="txt">
                                        HHI developed its own eco-friendly HiMSEN Dual-Fuel Engine control system
                                    </p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="thumbnail"></div>
                                <div class="txtCnts">
                                    <span class="utilBox">
                                        <span class="category text-marine">MARINE</span>
                                        <span class="date">06.21.2021</span>
                                    </span>
                                    <p class="txt">
                                        HHI developed its own eco-friendly HiMSEN Dual-Fuel Engine control system
                                    </p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="thumbnail"></div>
                                <div class="txtCnts">
                                    <span class="utilBox">
                                        <span class="category text-energy">ENERGY</span>
                                        <span class="date">06.21.2021</span>
                                    </span>
                                    <p class="txt">
                                        HHI developed its own eco-friendly HiMSEN Dual-Fuel Engine control system
                                    </p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="thumbnail"></div>
                                <div class="txtCnts">
                                    <span class="utilBox">
                                        <span class="category text-marine">MARINE</span>
                                        <span class="date">06.21.2021</span>
                                    </span>
                                    <p class="txt">
                                        HHI developed its own eco-friendly HiMSEN Dual-Fuel Engine control system
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- NEWS &amp; VIDEO LAYOUT COL4 -->

                    <!-- NEWS &amp; VIDEO LAYOUT COL3 -->
                    <h2 class="guideTit">NEWS &amp; VIDEO LAYOUT COL3</h2>
                    <div class="guide_box">
                        <div class="newsVideoLayout col3">
                            <a href="#">
                                <div class="thumbnail"></div>
                                <div class="txtCnts">
                                    <span class="utilBox">
                                        <span class="category text-scheduled">Scheduled</span>
                                        <span class="date">06.21.2021</span>
                                    </span>
                                    <p class="txt">
                                        HHI developed its own eco-friendly HiMSEN Dual-Fuel Engine control system
                                    </p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="thumbnail"></div>
                                <div class="txtCnts">
                                    <span class="utilBox">
                                        <span class="category text-scheduled">Scheduled</span>
                                        <span class="date">06.21.2021</span>
                                    </span>
                                    <p class="txt">
                                        HHI developed its own eco-friendly HiMSEN Dual-Fuel Engine control system
                                    </p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="thumbnail"></div>
                                <div class="txtCnts">
                                    <span class="utilBox">
                                        <span class="category text-scheduled">Scheduled</span>
                                        <span class="date">06.21.2021</span>
                                    </span>
                                    <p class="txt">
                                        HHI developed its own eco-friendly HiMSEN Dual-Fuel Engine control system
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- NEWS &amp; VIDEO LAYOUT COL3 -->

                    <!-- PRODUCT LAYOUT -->
                    <h2 class="guideTit">PRODUCT LAYOUT</h2>
                    <div class="guide_box">
                        <div class="productLayout">
                            <a href="#">
                                <div class="thumbnail"></div>
                                <div class="txtCnts">
                                    <strong class="productTit">Product Title</strong>
                                </div>
                            </a>
                            <a href="#">
                                <div class="thumbnail"></div>
                                <div class="txtCnts">
                                    <strong class="productTit">Product Title</strong>
                                </div>
                            </a>
                            <a href="#">
                                <div class="thumbnail"></div>
                                <div class="txtCnts">
                                    <strong class="productTit">Product Title</strong>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- //PRODUCT LAYOUT -->

                    <!-- BOARD LAYOUT -->
                    <h2 class="guideTit">PAGING</h2>
                    <div class="guide_box">
                        <!-- Page -->
                        <div class="paginate">
                            <a href="javascript:;" class="arr first">첫번째 페이지로 이동</a>
                            <a href="javascript:;" class="arr prev">이전 페이지로 이동</a>
                            <a href="javascript:;" class="page active" title="현재 선택페이지">1</a>
                            <!--// 현재페이지 class="active" 추가 -->
                            <a href="javascript:;" class="page">2</a>
                            <a href="javascript:;" class="page">3</a>
                            <a href="javascript:;" class="page">4</a>
                            <a href="javascript:;" class="page">5</a>
                            <a href="javascript:;" class="page">6</a>
                            <a href="javascript:;" class="page">7</a>
                            <a href="javascript:;" class="page">8</a>
                            <a href="javascript:;" class="page">9</a>
                            <a href="javascript:;" class="page">10</a>
                            <a href="javascript:;" class="arr next">다음 페이지로 이동</a>
                            <a href="javascript:;" class="arr last">마지막 페이지로 이동</a>
                        </div>
                    </div>
                    <!-- //BOARD LAYOUT -->

                    <!-- CONTACT CARD -->
                    <h2 class="guideTit">CONTACT CARD</h2>
                    <div class="guide_box">
                        <ul class="contactCard">
                            <li>
                                <dl>
                                    <dt>Energy Solution</dt>
                                    <dd>Engine Power Plant Department</dd>
                                </dl>
                                <p><a href="mailto:hi_pin@hhi.co.kr">hi_pin@hhi.co.kr</a></p>
                                <p>+82-31-210-9360 (9350~61)</p>
                            </li>
                            <li>
                                <dl>
                                    <dt>Energy Solution</dt>
                                    <dd>Engine Power Plant Department</dd>
                                </dl>
                                <p><a href="mailto:hi_pin@hhi.co.kr">hi_pin@hhi.co.kr</a></p>
                                <p>+82-31-210-9360 (9350~61)</p>
                            </li>
                        </ul>
                    </div>
                    <!-- //CONTACT CARD -->

                    <!-- RANGE SLIDER LAYOUT -->
                    <h2 class="guideTit">RANGE SLIDER LAYOUT</h2>
                    <div class="guide_box">
                        <div id="slider">
                            <div class="sliderValue"><span></span> kW</div>
                            <span class="minValue">575</span>
                            <span class="maxValue">26460</span>
                        </div>
                    </div>
                    <!-- //RANGE SLIDER LAYOUT -->

                    <!-- BOARD TOP -->
                    <h2 class="guideTit">BOARD TOP</h2>
                    <div class="guide_box">
                        <div class="boardTop">
                            <select class="dropMenuBox">
                                <option value="ALL">ALL</option>
                                <option value="no1">Marine</option>
                                <option value="no2">Energy</option>
                            </select>
                            <div class="searchBox">
                                <label class="hidden">검색입력폼</label>
                                <input type="text" id="searchForm" placeholder="Search" />
                                <button class="btnTxtDelete">검색 입력내용 삭제</button>
                                <button class="btnSearch">검색</button>
                            </div>
                            <p>A total of <span>132</span> posts are registered.</p>
                        </div>
                    </div>
                    <!-- //BOARD TOP -->

                    <!-- BOARD NO RESULT -->
                    <h2 class="guideTit">BOARD NO RESULT</h2>
                    <div class="guide_box">
                        <div class="boardNotFound">
                            <p>
                                No search result found. <br />
                                Please try again.
                            </p>
                        </div>
                    </div>
                    <!-- //BOARD NO RESULT -->

                    <!-- DOWNLOAD BOARD -->
                    <h2 class="guideTit">DOWNLOAD BOARD</h2>
                    <div class="guide_box">
                        <div class="boardDownload">
                            <ul>
                                <li>
                                    <strong class="text-energy">ENERGY</strong>
                                    <span>Product > Energy - stationary Engine > Gas</span>
                                    <a href="#">Installation Manual</a>
                                    <button class="btnDownload">다운로드</button>
                                </li>
                                <li>
                                    <strong class="text-marine">MARINE</strong>
                                    <span>Product > Energy - stationary Engine > Gas</span>
                                    <a href="#">Installation Manual</a>
                                    <button class="btnDownload">다운로드</button>
                                </li>
                                <li>
                                    <strong class="text-energy">ENERGY</strong>
                                    <span>Product > Energy - stationary Engine > Gas</span>
                                    <a href="#">Installation Manual</a>
                                    <button class="btnDownload">다운로드</button>
                                </li>
                                <li>
                                    <strong class="text-marine">MARINE</strong>
                                    <span>Product > Energy - stationary Engine > Gas</span>
                                    <a href="#">Installation Manual</a>
                                    <button class="btnDownload">다운로드</button>
                                </li>
                                <li>
                                    <strong class="text-energy">ENERGY</strong>
                                    <span>Product > Energy - stationary Engine > Gas</span>
                                    <a href="#"
                                        >HYUNDAI ENGINE MACHINERY PROGRAMHYUNDAI ENGINE MACHINERY PROGRAMHYUNDAI ENGINE
                                        MACHINERY PROGRAMHYUNDAI ENGINE MACHINERY PROGRAM</a
                                    >
                                    <button class="btnDownload">다운로드</button>
                                </li>
                                <li>
                                    <strong class="text-marine">MARINE</strong>
                                    <span>Product > Energy - stationary Engine > Gas</span>
                                    <a href="#">Installation Manual</a>
                                    <button class="btnDownload">다운로드</button>
                                </li>
                                <li>
                                    <strong class="text-energy">ENERGY</strong>
                                    <span>Product > Energy - stationary Engine > Gas</span>
                                    <a href="#">Installation Manual</a>
                                    <button class="btnDownload">다운로드</button>
                                </li>
                                <li>
                                    <strong class="text-marine">MARINE</strong>
                                    <span>Product > Energy - stationary Engine > Liquid Fuel</span>
                                    <a href="#">Installation Manual</a>
                                    <button class="btnDownload">다운로드</button>
                                </li>
                                <li>
                                    <strong class="text-energy">ENERGY</strong>
                                    <span>Product > Marine - 4-Stroke Engine > Diesel Engine</span>
                                    <a href="#">HYUNDAI ENGINE MACHINERY PROGRAM</a>
                                    <button class="btnDownload">다운로드</button>
                                </li>
                                <li>
                                    <strong class="text-marine">MARINE</strong>
                                    <span>Product > Energy - stationary Engine > Gas</span>
                                    <a href="#">ctions and Concept Guide</a>
                                    <button class="btnDownload">다운로드</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //DOWNLOAD BOARD -->

                    <h2 class="guideTit">FOOTER CONTACT</h2>
                </div>
                <!-- //inner -->

                <!-- FOOTER CONTACT -->
                <div class="guide_box">
                    <div class="footerContact">
                        <div class="inner">
                            <h4 class="titForm subBannerTit">Contact Our Experts on Marine Solution</h4>
                            <div>
                                <p>Marine Engine & Machinery Sales Department</p>
                                <ul>
                                    <li><strong>TEL</strong>82-52-202-7281/7291</li>
                                    <li><strong>E-mail</strong>enginesales@hhi.co.kr</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //FOOTER CONTACT -->
                <!-- REQUEST 50:50 ARROW BUTTON-->
                <div class="inner"><h2 class="guideTit">REQUEST 50:50 ARROW BUTTON</h2></div>
                <div class="guide_box">
                    <div class="btnHalf_wrap">
                        <ul>
                            <li>
                                <a href="#a" class="btnHalf">
                                    <dl>
                                        <dt>Request an Inquiry</dt>
                                        <dd>Ask your questions and request a quote</dd>
                                    </dl>
                                </a>
                            </li>
                            <li>
                                <a href="#a" class="btnHalf">
                                    <dl>
                                        <dt>Ask for Support</dt>
                                        <dd>Hyundai Heavy Industries' global experts will solve your problem</dd>
                                    </dl>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //REQUEST 50:50 ARROW BUTTON-->
                <!-- FOOTER ACROBAT READER -->
                <div class="inner"><h2 class="guideTit">FOOTER ACROBAT READER</h2></div>
                <div class="guide_box">
                    <div class="footerAcrobat">
                        <div class="text_zone">
                            <dl>
                                <dt>Install ACROBAT READER</dt>
                                <dd>
                                    The documents we provide are in PDF format. Please install Acrobat reader to check
                                    the file.
                                </dd>
                            </dl>
                            <a href="#a">download & install</a>
                        </div>
                    </div>
                </div>
                <!-- //FOOTER ACROBAT READER -->
            </div>
        </div>

        <!-- script import -->
        <script src="/distHyundai/assets/js/lib/jquery.import.js"></script>




    </body>
</html>
