<!DOCTYPE html>
<html lang="ko">
    <head>
        		<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- 2020.01.30 메타태그 밑 파비콘 추가 -->
	<meta name="description" content="현대중공업 엔진기계사업부">
	<meta name="keywords" content="현대중공업 엔진기계사업부">
	<meta name="naver-site-verification" content="" />
	<meta property="og:type" content="website">
	<meta property="og:title" content="현대중공업 엔진기계사업부">
	<meta property="og:description" content="현대중공업 엔진기계사업부">
	<meta property="og:url" content="">
	<title>현대중공업 엔진기계사업부</title>
	<link href="/distHyundai/assets/css/common.min.css" rel="stylesheet">

    </head>
    <body>
        <div id="wrap" class="mainWrap">
            <!-- Main Page일 경우 mainWrap 클래스 추가 -->
            <div id="navSkip"><a href="#container">본문으로 바로가기</a></div>

            <!-- header -->
            <header id="header">
    <div class="hdTop">
        <div class="inner">
            <h1 class="logo">
                <a href="#">
                    <img src="/distHyundai/assets/images/common/logo_head_on.png" class="logoCommon" alt="HYUNDAI ENGINE & MACHINERY">
                    <img src="/distHyundai/assets/images/common/logo_head_main.png" class="logoMain" alt="HYUNDAI ENGINE & MACHINERY">
                </a>
            </h1>
            <ul class="hdUtil">
                <li><a href="#">About us</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </div>
    </div>
    <div class="hdBottom">
        <div class="inner">
            <nav id="gnb">
                <ul class="depth1">
                    <li>
                        <a href="#" class="on">Marine Solution</a> <!-- 클래스 on 추가하면 활성화 -->
                        <div class="depth2">
                            <div class="inner">
                                <strong>Marine Solution</strong>
                                <ul>
                                    <li><a href="#" class="on">Crude Oil Tanker</a></li> <!-- 클래스 on 추가하면 활성화 -->
                                    <li><a href="#">Product &amp; Chemical Tanker</a></li>
                                    <li><a href="#">Container</a></li>
                                    <li><a href="#">LNG Carrier &amp; Bunkering</a></li>
                                    <li><a href="#">LPG Carrier</a></li>
                                    <li><a href="#">Bulk Carrier</a></li>
                                    <li><a href="#">Ro-Ro</a></li>
                                    <li><a href="#">Passenger</a></li>
                                    <li><a href="#">TUG</a></li>
                                    <li><a href="#">Offshore</a></li>
                                    <li><a href="#">Fishing</a></li>
                                    <li><a href="#">Naval &amp; Special Purpose</a></li>
                                </ul>
                                <a href="#" class="btnEngine">Engine Selector</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Energy Solution</a>
                        <div class="depth2">
                            <div class="inner">
                                <strong>Energy Solution</strong>
                                <ul class="energyMenu">
                                    <li>
                                        <a href="#">Engine Power Plant</a>
                                        <ul class="depth3">
                                            <li><a href="#">Gas & Dual Fual Power Plant</a></li>
                                            <li><a href="#">Diesel Power plant</a></li>
                                            <li><a href="#">Modular Power Plant & PPS</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">CHP</a></li>
                                    <li>
                                        <a href="#">Emergency Diesel Generator</a>
                                        <ul class="depth3">
                                            <li><a href="#">EDG for Nuclear power plant</a></li>
                                            <li><a href="#">Emergency &amp;<br>Black Start Diesel Generator</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Hybrid Power Plant</a></li>
                                </ul>
                                <a href="#" class="btnFactory">Power Plant Selector</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Products</a>
                        <div class="depth2">
                            <div class="inner">
                                <strong>Products</strong>
                                <ul>
                                    <li>
                                        <a href="#">2 Stroke Engine</a>
                                        <ul class="depth3">
                                            <li><a href="#">MAN-ES</a></li>
                                            <li><a href="#">WinGD</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">4 Stroke Engine</a>
                                        <ul class="depth3">
                                            <li><a href="#">Dual Fuel Engine</a></li>
                                            <li><a href="#">Diesel Engine</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Propulsion System</a>
                                        <ul class="depth3">
                                            <li><a href="#">Propulsion Package</a></li>
                                            <li><a href="#">Hybrid Package</a></li>
                                            <li><a href="#">Propeller &amp;Shaft</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Eco Machinery</a>
                                        <ul class="depth3">
                                            <li><a href="#">Fuel Gas Supply System</a></li>
                                            <li><a href="#">SCR</a></li>
                                            <li><a href="#">BWTS</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Cargo Pumping System</a>
                                        <ul class="depth3">
                                            <li><a href="#">Hydraulic Submerged Pump</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Stationary Engine</a>
                                        <ul class="depth3">
                                            <li><a href="#">GAS</a></li>
                                            <li><a href="#">Dual Fuel</a></li>
                                            <li><a href="#">Liquid Fuel</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Customer Service</a>
                        <div class="depth2">
                            <div class="inner">
                                <strong>Customer Service</strong>
                                <ul class="customerMenu">
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Contacts</a></li>
                                    <li><a href="#">Download</a></li>
                                    <li><a href="#">Training</a></li>
                                    <li><a href="#">Service Network</a></li>
                                    <li><a href="#">Online Assistance</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="langBox">
                <button class="btnLang">EN</button>
                <ul>
                    <li><a href="#" class="korean">KO</a></li>
                    <li><a href="#" class="english active">EN</a></li><!-- 활성화된 항목은 클래스 active 추가 -->
                </ul>
            </div>
            <div class="hdSearch">
                <button class="btnSearch">검색</button>
                <div class="searchArea">
                    <div class="searchBox">
                        <label class="hidden">검색입력폼</label>
                        <input type="text" id="searchForm" placeholder="Search">
                        <!-- <button class="btnTxtDelete">검색 입력내용 삭제</button> -->
                        <button class="btnSearch">검색</button>
                    </div>
                    <button class="btnClose">닫기</button>
                </div>    
            </div>
            <button class="btnGnb">모바일 메뉴 열기</button>
        </div>
    </div>
    <!-- Mobile Menu -->
    <nav class="moMenu">
        <a href="javascript:;" class="moClose">모바일 메뉴 닫기</a>
        <ul id="moGnb">
            <li>
                <button>Marine Solution</button>
                <ul class="dep2">
                    <li><a href="#">Crude Oil Tanker</a></li>
                    <li><a href="#">Product &amp; Chemical Tanker</a></li>
                    <li><a href="#">Container</a></li>
                    <li><a href="#">LNG Carrier &amp; Bunkering</a></li>
                    <li><a href="#">LPG Carrier</a></li>
                    <li><a href="#">Bulk Carrier</a></li>
                    <li><a href="#">Ro-Ro</a></li>
                    <li><a href="#">Passenger</a></li>
                    <li><a href="#">TUG</a></li>
                    <li><a href="#">Offshore</a></li>
                    <li><a href="#">Fishing</a></li>
                    <li><a href="#">Naval &amp; Special Purpose</a></li>
                    <li class="other"><a href="#">Engine Selector</a></li>
                </ul>
            </li>
            <li>
                <button>Energy Solution</button>
                <ul class="dep2">
                    <li>
                        <a href="#">Engine Power Plant</a>
                        <ul class="dep3">
                            <li><a href="#">Gas & Dual Fual Power Plant</a></li>
                            <li><a href="#">Diesel Power plant</a></li>
                            <li><a href="#">Modular Power Plant & PPS</a></li>
                        </ul>
                    </li>
                    <li><a href="#">CHP</a></li>
                    <li><a href="#">Hybrid Power Plant</a></li>
                    <li>
                        <a href="#">Emergency Diesel Generator</a>
                        <ul class="dep3">
                            <li><a href="#">EDG for Nuclear power plant</a></li>
                            <li><a href="#">Emergency &amp; Black Start Diesel Generator</a></li>
                        </ul>
                    </li>
                    <li class="other"><a href="#">Power Plant Selector</a></li>
                </ul>
            </li>
            <li>
                <button>Products</button>
                <ul class="dep2">
                    <li>
                        <a href="#">2 Stroke Engine</a>
                        <ul class="dep3">
                            <li><a href="#">MAN-ES</a></li>
                            <li><a href="#">WinGD</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">4 Stroke Engine</a>
                        <ul class="dep3">
                            <li><a href="#">Dual Fuel Engine</a></li>
                            <li><a href="#">Diesel Engine</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Propulsion System</a>
                        <ul class="dep3">
                            <li><a href="#">Propulsion Package</a></li>
                            <li><a href="#">Hybrid Package</a></li>
                            <li><a href="#">Propeller &amp;Shaft</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Eco Machinery</a>
                        <ul class="dep3">
                            <li><a href="#">Fuel Gas Supply System</a></li>
                            <li><a href="#">SCR</a></li>
                            <li><a href="#">BWTS</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Cargo Pumping System</a>
                        <ul class="dep3">
                            <li><a href="#">Hydraulic Submerged Pump</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Stationary Engine</a>
                        <ul class="dep3">
                            <li><a href="#">GAS</a></li>
                            <li><a href="#">Dual Fuel</a></li>
                            <li><a href="#">Liquid Fuel</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <button>Customer Service</button>
                <ul class="dep2">
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Download</a></li>
                    <li><a href="#">Training</a></li>
                    <li><a href="#">Service Network</a></li>
                    <li><a href="#">Online Assistance</a></li>
                </ul>
            </li>
            <li>
                <button>About Us</button>
                <ul class="dep2">
                    <li><a href="#">Vision &amp; Mission</a></li>
                    <li><a href="#">COO Greeting</a></li>
                    <li><a href="#">History</a></li>
                    <li><a href="#">Factory info</a></li>
                    <li><a href="#">SEMCO licensing</a></li>
                    <li><a href="#">HiMSEN Engine Story</a></li>
                    <li>
                        <a href="#">Expertise</a>
                        <ul class="dep3">
                            <li><a href="#">Decarbonization</a></li>
                            <li><a href="#">Digitalization</a></li>
                            <li><a href="#">Efficiency</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <button>Media</button>
                <ul class="dep2">
                    <li><a href="#">News</a></li>
                    <li><a href="#">Videos</a></li>
                    <li><a href="#">Webinar</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    
</header>



            <!-- container -->
            <div id="container" style="height: 5555px"></div>

            <!-- footer -->
            <button class="btnTop" title="위로가기">위로가기</button>
<footer id="footer">
    <div class="inner">
        <div class="ftTop">
            <h2 class="ftLogo"><img src="/distHyundai/assets/images/common/logo_foot.svg" alt="HYUNDAI ENGINE & MACHINERY"></h2>
            <div class="ftSiteMap">
                <ul>
                    <li><a href="#">Marine Solution</a></li>
                    <li><a href="#">Energy Solution</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Customer Service</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Media</a></li>
                </ul>
            </div>
            <div class="ftUtil">
                <ul class="snsList">
                    <li><a href="#" class="btnLinkedIn" target="_blank">링크드인 새창열기</a></li>
                    <li><a href="#" class="btnYoutube" target="_blank">유튜브 새창열기</a></li>
                </ul>
                <div class="familyBox">
                    <button>Family Site</button>
                    <ul class="familyList">
                                                <li><a href="#" target="_blank">Hyundai Global Service</a></li>
                        <li><a href="#" target="_blank">Hyundai Electric</a></li>
                        <li><a href="#" target="_blank">Hyundai Heavy Industries Group</a></li>
                        <li><a href="#" target="_blank">KSOE</a></li>
                        <li><a href="#" target="_blank">Hyundai Heavy Industries</a></li>
                        <li><a href="#" target="_blank">Hyundai Mipo Dockyard</a></li>
                        <li><a href="#" target="_blank">Hyundai Samho</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="ftBottom">
            <address>
                <span>(044032)1000, Bangeojinsumhwan-doro, Dong-gu, Ulsan, Korea</span>
                <a href="#">Privacy Policy</a>
                <a href="mailto:">Deny unauthorized collection of emails</a>
            </address>
            <span class="copy">© HHI Engine & Machinery. All rights reserved.</span>
        </div>
    </div>
</footer>
        </div>

        <!-- script import -->
        <script src="/distHyundai/assets/js/lib/jquery.import.js"></script>



    <script src="/distHyundai/assets/js/main.js"></script>


    </body>
</html>
